* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.6vw;
    font-family: sans-serif;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("/images/patern@3x.png");
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: rgb(8, 7, 7);
    font-weight: bold;    
}

.all {
    height: 100vh;
}

h1{
    position: absolute;
    width: 100vw;
    margin-left: auto;
    padding-top: 15vh;

    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #707070;
}

.form {
    width: 80vw;
    height: 80vh;
    margin:auto;
    padding-top: 15vh;

}

form{
    width: 80vw;
    height: 80vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 5vh;
    padding-right: 18vw;
}

form label{
    flex-basis: 50%;
    margin-left: 0px;
    margin: 4vh 0vw;
    align-self: center;

    height: 23px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #b2afaf;
}

input, select, textarea {
    width: 30vw;
    height: 5vh;
    margin: 4vh 0vw;
}

select, input[type=submit]{
    cursor: pointer;
}

textarea input{
    cursor: text;
}

textarea:hover, select:hover, input:hover{
    box-shadow: 1px 1px black;
}
option{
    font-style: italic;
}

input[type=submit]:hover {
    box-shadow: 1px 1px rgb(41, 41, 43);
}

input[type=submit]{
    display: block;
    position: absolute;
    bottom: 13vh;
    right: 11vw;

    width: 160px;
    height: 45px;
    border-radius: 10px;
    border: solid 1px #8bc9fd;
    background-color: #8bc9ff;

}

textarea{
    height: 20vh;
}