*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/images/welcome-page-background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.welcome-script {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.welcome-script h1 {
    letter-spacing: 0.9vw;
}

.welcome-border {
    border: solid black 2px;
    border-radius: 5vw;
    padding: 5vw;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 127, 80, 0.377);
}

.welcome-script h1 {
    font-size: 8vw;
    font-family: 'Piedra', cursive;
   /* font-weight: 10; */
    opacity: 100;
    
}

.welcome-script h2 {
    font-size: 2.5vw;
    font-family: 'Roboto Mono', 'monospace';
    font-style: italic;
    font-weight: bold;
    opacity: 100;
}

.options{
    height: 20vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    margin-bottom: 10vh;
    transition: all 2s ease-in;
    letter-spacing: 0.3vw;
}

 .questions {
    width: 20vw;
    border: black 2px dashed;
    border-radius: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgba(173, 128, 29, 0.719)
}

.questions:hover {
    background-color: rgba(184, 201, 34, 0.747)
}

.survey-create {
    width: 20vw;
    border: black 2px dashed;
    border-radius: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgba(173, 128, 29, 0.719)
    
}

.survey-create:hover {
    background-color: rgba(184, 201, 34, 0.747)
}

.answer-survey{
    width: 20vw;
    border: black 2px dashed;
    border-radius: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgba(173, 128, 29, 0.719)
}

.answer-survey:hover {
    background-color: rgba(184, 201, 34, 0.747)
}

.survey-report {
    width: 20vw;
    border: black 2px dashed;
    border-radius: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgba(173, 128, 29, 0.719)
} 

.survey-report:hover {
    background-color: rgba(184, 201, 34, 0.747)
}

.options a {
    text-decoration: none;
    display: inline-block;
}

/* Header*/
header {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: oblique;
    background-color: rgba(73, 72, 68, 0.53);
}

#singIn{
    border: 1px solid #3e3e3e;
    text-decoration: none;
    margin: 10px;
    padding:5px;
    background-color: rgba(201, 199, 197, 0.49);
}

#login{
    border: 1px solid #3e3e3e;
    text-decoration: none;
    margin: 10px;
    padding:5px;
    background-color: rgba(201, 199, 197, 0.49);
}

#logOut{
    border: 1px solid #3e3e3e;
    text-decoration: none;
    margin: 10px;
    padding:5px;
    background-color: rgba(201, 199, 197, 0.49);
}

#logOut:hover, #login:hover, #singIn:hover {
    background-color: rgba(160, 156, 153, 0.49);
    box-shadow: 2px 2px black;
}
